<?xml version="1.0" encoding="utf-8"?>
<!-- This file is only used to set the default upload limit from 30Mb to 1GB -->
<!-- Only needed when deploying with Azue App Services -->
<configuration>
	<system.webServer>
		<security>
			<requestFiltering>
				<!-- 1 GB -->
				<requestLimits maxAllowedContentLength="1073741824" />
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>
